**/bin
**/obj
MiniProjectWeek1/.vs/MiniProjectWeek1/v17/DocumentLayout.json
MiniProjectWeek1/.vs/MiniProjectWeek1/v17/DocumentLayout.backup.json
MiniProjectWeek1/.vs/MiniProjectWeek1/v17/.suo
MiniProjectWeek1/.vs/MiniProjectWeek1/v17/.futdcache.v2
